@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html{
    position:relative;
    height: 100%; 
  }

body {
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    text-align: center;
    height: 100%;
}

.currency-app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* navbar */

.navbar {
    margin-bottom: 20px;
}

/* buttons */
.btn-from, .btn-to {
    border-radius: 12px;
    padding: 10px 24px;
    font-size: 16px;
    width: 150px;
    margin: 10px;
}

.btn-convert {
    border-radius: 12px;
    padding: 10px 24px;
    background-color: #40BAA6;
    color: #fff;
    width: 150px;
    margin: 10px;
}

.switch {
    margin: auto 0;
    display: block;
}

.switch-btn {
    font-size: 40px;
    border: none;
    background: none;
    color:#40BAA6;
}

/* converter content */
.container-content {
    width: 40%;
    margin: auto;
    padding: 20px;
    background-color: #f4f3f3;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.title {
    padding: 0 24px;
    font-size: 16px;
    margin: 1px;
}

.date-text {
    color:#40BAA6;
    font-size: 15px;
}

.input-amount {
    border-radius: 12px;
    padding: 10px 24px;
    font-size: 16px;
    width: 150px;
    margin: 10px;
}

.output-content {
    border: 1px solid grey;
    border-radius: 12px;
    padding: 10px 24px;
    font-size: 16px;
    width: auto;
    margin: 10px;
}

.result {
    color:#40BAA6;
    font-size: 30px;
}

.table-result {
    font-size: 15px;
    color: #fff;
    margin-top: 20px;
}

/* table */
.table-coins {
    text-align: center;
    width: 500px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
  }
  
  .table th {
      border-top: 1px solid #dee2e6;
  }

  .table-title, .table-text {
    color: #fff;
  }

/* footer */
.footer-copyright {
    padding: 50px 0;
}

.icon {
    margin-right: 10px;
    color: #fff;
}

  /* stats */

  .stats, .top-title {
    color: #fff;
}

.chart-container {
    position: relative;
    margin: auto;
    width: 60vw;
    height: 30vw;
    margin-bottom: 20px;
  } 


/* media screen values */
  @media only screen and (max-width: 480px) {
    .container-content {
        width: 90%;  
    }
    .chart-container {
        width: 70vw;
        height: 50vw;
        margin-bottom: 10px;
      } 

  }

  @media only screen and (max-width: 768px) {
    .container-content {
        width: 80%;  
    }
    .chart-container {
        width: 70vw;
        height: 50vw;
        margin-bottom: 10px;
      }

  }

  @media only screen and (max-width: 1024px) {
    .container-content {
        width: 70%;  
    }
    .chart-container {
        width: 70vw;
        height: 50vw;
        margin-bottom: 10px;
      }
  }
